:root {
    --main-border: 1px solid #98A0A6;
    --white: #ffffff;
    --gray: #98A0A6;
    --red:  #e63946;
    --black: #081621;
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

nav {
    border: var(--main-border);
    display: grid;
    grid-template-rows: 75px;
    grid-template-columns: 20% 80%;
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    height: 800px;
}

a {
    color: unset;
    text-decoration: none;
}

.logo {
    grid-column: 1;
    display: grid;
    border-right: var(--main-border);
    background-color: var(--red)
}

.logo-text {
    align-self: center;
    text-align: center;
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

.right-menu {
    grid-column: 2;
    display: grid;
    padding-right: 5%;
    background-color: var(--black) ;
}

.right-menu-links {
    align-self: center;
    justify-self: flex-end;
    color: var(--gray);
    font-size: 20px;
}

.right-menu-links a {
    color: var(--gray);
}

.movie-column {
    grid-column: 1;
    position: relative;
}

.movie-image, .recipe-image {
    width: 300px;
    height: 200px;
    border: var(--main-border);
    margin-bottom: 15px;
}

.movie-image {
    background-color: var(--gray);
    margin-left: auto
}

.recipe-image {
    background-color: var(--black);
}

.movie-selections {
    position: absolute;
    right: 0;
    top: 40%;
    margin-right: 25px;
}

.recipe-selections {
    position: absolute;
    top: 40%;
    left: 0;
    margin-left: 25px;
}

.recipe-column {
    grid-column: 2;
    position: relative;
}

.movie-options select, .recipe-options select {
    display: block;
    width: 200px;
    height: 35px;
    margin-bottom: 15px;
    background-color: #98A0A6;
    color: #ffffff;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    text-align-last: center;
}

.button-wrap {
    display: flex;
    flex-direction: column;
}

button {
    height: 60px;
    width: 225px;
    background-color: var(--red);
    grid-row: 2;
    grid-column: 1 / span 2;
    justify-self: center;
    color: var(--white);
    font-size: 20px;
    align-self: center;
}

.pair { 
    background-color: var(--red);
    border: 1px solid black;
    padding: 10px 20px;
    transition: .8s;
}

.pair:hover{
 color: #a80210; 
}


.red-button {
    background-color: var(--red);
    border: 1px solid black;
    padding: 10px 20px;
    transition: .8s;
}


.gray-button {
    background-color: var(--gray);
    margin-top: 80px;
    border: 1px solid black;
    padding: 10px 20px;
    transition: .8s;
}

.red-button:hover{
 color: #a80210; 
}

.gray-button:hover{
 color: #505456;
}

.start-over {
    position: absolute;
    top: 30%;
    right: 215px;
    margin-left: 25px;
    font-size: 22px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.page-square {
    height: 30px;
    width: 30px;
    background-color: var(--gray);
    margin-right: 20px;
}

.main-heading {
    font-size: 30px;
    position: absolute;
    right: -58px;
    top: 15%;
}

.star-and-image {
    display: flex;
    flex-direction: row;
}

.star {
    align-self: center;
    margin-right: 50px;
}

.count {
    display: block;
    font-size: 20px;
    text-align: center;

}

